@import "tailwindcss";

body {
  background-color: white;
  color: rgb(31 41 55);
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.timeline-bg {
  background-color: #ded3bc1a;
}
